# ==================================================
# Gradle
# ==================================================

.gradle
build

# ==================================================
# Eclipse
# ==================================================

bin/
.settings/
.classpath
.project

# ==================================================
# OS files
# ==================================================

.DS_Store
Thumbs.db

# ==================================================
# Sensitive configuration
# ==================================================

src/main/resources/db.properties

# Local libraries
lib/